.country-container{
    border: 5px solid rgb(44, 12, 228);
    background-color: blueviolet;
    margin: 20px;
    color: white;
    border-radius: 20px;
}
.country-container img{
    height: 50px;
    margin-top:20px;
}